body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: pink;
}

#hero {
    background-image: url("images/cabo.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

#title {
    background-color: #f1faee;
    text-shadow: 0px 0px 15px black;
}

#subtitle {
    background-color: #f1faee;
    text-shadow: 0px 0px 15px black;
}

#activities-main-2 {
    display: flex;
}

.act-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#activities {
    background-color: #f1faee;
}

#card {
    width: 400px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding: 20px;
    display: flex;
    flex-direction: space-around;
    text-align: center;
    background-color: #a8dadc;
    border-bottom: 20px solid #457b9d;
    
}

#avatar {
    width: 150px;
}

#activities-main-2 {
    display: flex;
    justify-content: space-around
    
}

#guide {
    background-color: black;
    margin-bottom: 0px;
}